<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org/">
<link rel="stylesheet" th:href="@{/CSS/demo.css}" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
<link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
<head>
<title>
List
</title>
</head>
<body>
<h1 class="funny">Add a new Employee</h1>

<form action="#" th:action="@{api/save}"
	th:object="${employeeForm}"  method="POST">
  <!-- First row -->
  <div class="form-row row-eq-spacing-sm">
    <div class="col-sm">
      <label for="first-name" class="required">First name</label>
      <input type="text" th:field="*{firstName}" class="form-control" placeholder="First name" required="required">
    </div>
    <div class="col-sm">
      <label for="last-name" class="required">Last name</label>
      <input type="text" th:field="*{lastName}" class="form-control"  placeholder="Last name" required="required">
    </div>
  </div>
    <div class="col-sm">
      <label for="last-name" class="required">Email</label>
      <input type="text"  th:field="*{email}" class="form-control" placeholder="Email" required="required">
    </div>

  <!-- Submit button container -->
  <div class="text-right"> <!-- text-right = text-align: right -->
    <input class="btn btn-primary" type="submit" value="Add Employee">
  </div>
</form>
<hr>

<a th:href="@{api/allEmployees}">Back to List</a>
<hr>

</body>
</html>